/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.continually_options .continually-intro {
    margin-bottom: 32px;
}

.continually_options form {
    margin-top: 20px;
}
.continually_options fieldset.continually-continually_embed_code label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}
.continually_options fieldset {
    margin-bottom: 20px;
}